<app-big-card-with-image title="" description="Gathered within our medical community, they are led by a team that listens to them and benefit from continuous monitoring." details="Selected with high standards for their skills and motivation, our general practitioners and specialists and our midwives are all trained in the practice of teleconsultation and teleconsultation. "
    imagePath="assets/images/homepage/doctor-consulting-african-patient.jpg" imagePosition="left"></app-big-card-with-image>

<app-big-card-with-image title="Join our medical community" description="We are continuously recruiting doctors and midwives to expand our medical community and support our development." details=" We know your expertise is valuable.  We put our know-how and the technology of our platform at your service."
    imagePath="assets/images/homepage/doctor_mobile.png"></app-big-card-with-image>

<app-list-of-cards smallTitle="our services" title="We Offer the following" [cards]='[
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Autism and disabilities",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Neonatology",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Epilepsy",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Dermatology",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Asthma",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Medical fitness",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Cardiology",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Under-5 and Well-child Clinic",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "General Paediatrics Clinic & Counselling",
    description: ""
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Speech Therapy",
    description: ""
  }
]'></app-list-of-cards>
