<app-hero title="CHILDREN'S SPECIALIST CLINIC" description="Clinic ea Bana - we are baby friendly" background-image="/assets/images/homepage/cover-hero.jpg"></app-hero>

<app-big-card-with-image title="About Primecare" description="An Integrative Medicine Services in Lesotho. Open, walk-in Clinic - specializing in the ongoing needs of your child or adolescent in an environment that is family-friendly, convenient, & compassionate." details="What does this mean for patient families? Our appointments are longer than the community average, which allows our providers to spend more time with our patients, and make special accommodations if needed.   
Our average charges are lower than the community average.
Our Pediatric Providers live in, volunteer in, and care about the well-being of the communities surrounding our clinics.
Our Pediatric Providers and staff are chosen carefully for not only their expertise, but their empathy, and kindness."
    imagePath="assets/images/homepage/doctor-consulting-african-patient.jpg" imagePosition="left"></app-big-card-with-image>

<app-big-card-with-image title="Why We're Different" description="Our clinic is proudly owned by the physicians that work here with massive experience on the field. We are committed to remaining strong and independent." details="Our staff members work well together across all departments.  The Providers set the standard for excellent service and are on the same team as our staff.  They are collegial and respectful, inspiring the same qualities in all staff members, which further enhances the care we provide for our patient families as a team."
    imagePath="assets/images/homepage/doctor_mobile.png"></app-big-card-with-image>

<app-list-of-cards smallTitle="our services" title="We Offer the following" [cards]='[
  {
    imagePath: "assets/images/homepage/1-2-3.gif",
    title: "Autism and disabilities",
    description: "Your experience with us matters.  We want our patients to have a great experience EVERY time they visit us so they can trust us and feel comfortable here."
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Neonatology",
    description: "As an independent group all Clinical and Business decisions are made here."
  },
  {
    imagePath: "assets/images/homepage/doctor.png",
    title: "Dermatology",
    description: "Lactation Services"
  },
  {
    imagePath: "assets/images/homepage/hands.png",
    title: "Epilepsy",
    description: "Visit our clinic to see a full list of Our Services" 
  },
  {
    imagePath: "assets/images/homepage/doctor-child-comb.jpg",
    title: "Asthma",
    description: "Our average charges are lower than the community average."
  },
  {
    imagePath: "assets/images/homepage/pediatrics-and-medical-services.jpg",
    title: "Medical fitness",
    description: "Provider and Medical Assistant (MA) one-on-one pairing - meaning the same MA works with the same Provider the majority of the time."
  },
  {
    imagePath: "assets/images/homepage/cardiology.png",
    title: "Cardiology",
    description: "Freedom for our patient families to form a relationship with their Provider and MA pair to provide consistent care."
  },
  {
    imagePath: "assets/images/homepage/girl-jumping-rope.jpg",
    title: "Under-5 and Well-child Clinic",
    description: "We care, we are family-friendly, and compassionate."
  },
  {
    imagePath: "assets/images/homepage/pediatrics-icon-png.png",
    title: "General Paediatrics Clinic & Counselling",
    description: "​Pediatric Providers refers to Pediatricians, Nurse Practitioners and Physician Assistants."
  },
  {
    imagePath: "assets/images/homepage/child-waving.png",
    title: "Speech Therapy",
    description: "For your convenience, we shall always take care of your health - it matters!"
  }
]'></app-list-of-cards>
